<h1>New product</h1>
<!-- <form method='post' action='/products/create'>
	<input type='hidden' value='<%= form_authenticity_token %>' name='authenticity_token'>
	<label>Name</label>
	<input type='text' name='product[name]'>
	<label>Description</label>
	<input type='text' name='product[description]'>
	<label>Price</label>
	<input type='text' name='product[pricing]'>
	<input type='submit' value='Create'> 
</form> -->
<%= simple_form_for @product do |f| %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :pricing %>
<%= f.input :category_id, :collection => @categories, value_method: :id %>
<%= f.button :submit %>
<% end %>
<a href="/products">Back</a>